!!!
%head
  %title Blind Summit
  %link{:href => "css/reset.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/blindsummit.css", :rel => "stylesheet", :type => "text/css"}/
%body
  .left-side-bar
    %img.paperclip{:src => "img/paperclip.gif"}/
  .central-content
    %header
      %section.top
        %h1.logo
          BLind
          %span> S
          umMiT
        %a#donate-page
          DONATE NOW
      %section.menu
        %nav
          %ul
            %li
              %a{:href => "#"} News
              \-
            %li
              %a{:href => "#"} What's on
              \-
            %li
              %a{:href => "#"} Shows
              \-
            %li
              %a{:href => "#"} Puppets
              \-
            %li
              %a{:href => "#"} Training
              \-
            %li
              %a{:href => "#"} About us
              \-
            %li
              %a{:href => "#"} Support us
              \-
            %li
              %a{:href => "#"} Blog
    %section#content
      %article.news
        %div.image-wrapper
          %img.news-image{src: 'img/mosesoctober.jpg'}
        .news-text
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
          %a{:href => "#"} CLICK
      %article.news
        %div.image-wrapper
          %img.news-image{src: 'img/mosesoctober.jpg'}
        .news-text
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
          %a{:href => "#"} CLICK
    %section#puppet-quote
      %q The feet tell a third of the story
    %section#running-man
      %img.news-image{src: 'img/bmCarry_anime.gif'}
    %footer
      %address
        Blind Summit Theatre<br />
        Unit 10, Grenville Workshops,<br />
        2a Grenville Road, London, N19 4EH<br />
        020 7272 9020<br />
        %a{:href => "mailto:info@blindsummit.com"} info@blindsummit.com
  .right-side-bar
